<!--Navbar-->
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" id="title" href="/home">Expense Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/home">
                    <i class="fa-solid fa-house-chimney"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                    <i class="fa-solid fa-line-chart"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transactions">
                    <i class="fa-solid fa-dollar-sign"></i> Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help">
                    <i class="fa-solid fa-handshake"></i> Help</a>
                </li>
                <!--Login and logout-->
                <li class="navbar-text">
                    <i class="fas fa-lg fa-user"></i>
                    Welcome, User Name
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link">
                    <i class="fas fa-sign-out"></i>
                    Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>