<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>

<!--home section-->
<section id="home">
    <div class="home container">
      <div class="homeContent">
        <div class="textContent">
        </br>
        </br>
            <h1>Manage Your  <span></span></h1>
            <h1>Expenses Easily With <span></span></h1>
            <h1 style="color: #4fb9af;"> <span>EXPENSE TRACKER </span></h1> <br><br>
            <div class="button">
                <a href="/dashboard" class="btn">View your Dashboard(button)</a>
            </div>
        </div>
                
        <div class="userImage">
            <img src="/Assets/images/dashboard_images.png" alt="dashboard_images" height="300" width="350" class="dashboardImg"/>
        </div>
      </div>
    </div>
  </section>

  <%- include Partials/footer.ejs %>