  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">INFR3120</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <% if(title=="Home") { %>
                <a class="nav-link active" href="/home">
             <% } else { %>     
              <a class="nav-link" href="/home">
            <% } %>
              <i class="fa-solid fa-house-chimney"></i> Home</a>
          </li>
          <li class="nav-item">
            <% if(title=="About Us") { %>
              <a class="nav-link active" href="/aboutus">
            <% } else { %>  
              <a class="nav-link" href="/aboutus">
            <% } %>
              <i class="fa-solid fa-info"></i> About Us</a>
          </li>
          <li class="nav-item">
            <% if(title=="Product") { %>
            <a class="nav-link active" href="/product">
            <% } else { %>  
            <a class="nav-link" href="/product"> 
            <% } %>   
              <i class="fa-brands fa-elementor"></i> Product</a>
          </li>
          <li class="nav-item">
            <% if(title=="Service") { %>
              <a class="nav-link active" href="/service">
            <% } else { %>  
              <a class="nav-link" href="/service">
            <% } %>   
              <i class="fa-solid fa-gears"></i> Service</a>
          </li>

          <li class="nav-item">
            <% if(title=="Books") { %>
                <a class="nav-link active" href="/bookslist">
             <% } else { %>     
              <a class="nav-link" href="/bookslist">
            <% } %>
              <i class="fa-solid fa-book"></i> Books</a>
          </li>


          <li class="nav-item">
          <% if(title=="Contact us") { %>
            <a class="nav-link active" href="/contactus">
          <% } else { %> 
            <a class="nav-link" href="/contactus">    
          <% } %> 
              <i class="fa-solid fa-phone"></i> Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>