<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>
<!--Content for add page-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title%></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Book Title</label>
                    <input type="text" class="form-control" id="nameTextField"
                    placeholder="Enter the Book Title" name="name" required>
                </div>
                <div class="form-group">
                    <label for="authorTextField">Book Author</label>
                    <input type="text" class="form-control" id="authorTextField"
                    placeholder="Enter the Book Author" name="Author" required>
                </div>
                <div class="form-group">
                    <label for="publishedTextField">Published</label>
                    <input type="text" class="form-control" id="publishedTextField"
                    placeholder="Enter the Published Year" name="published" required>
                </div>
                <div class="form-group">
                    <label for="descriptionTextArea">Book Description</label>
                    <textarea type="text" class="form-control" id="descriptionTextArea"
                    placeholder="Enter the book description" name="description" required>
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="text" class="form-control" id="priceTextField"
                    placeholder="Enter the Price of the book" name="price" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
                <i class = "fas fa-edit"></i>

                <button class="btn btn-warning" type="submit">Cancel</button>
                <i class = "fas fa-undo"></i>
            </form>
        </div>
    </div>
</div>




<%- include ../Partials/footer.ejs %>