<!--home section-->
<section id="home">
  <div id="leftSide">
      <p id="mainText">Manage Your  </p>
      <p id="mainText">Expenses Easily With  </p>
      <p id="mainText1">EXPENSE TRACKER  </p>
            <div class="button">
              <a href="/dashboard" class="btn"><span id="btnText">View your Dashboard</span>
              </a>
            </div>
    </div>

    <div id="rightSide">        
        <figure id="userImage">
            <img src="/assets/dashboard_images.png" alt="dashboard_images" height="300" width="350" class="dashboardImg"/>
        </figure>
    </div>
</section>
