*{
    font-family: 'Trebuchet MS';
}

.navbar-brand {
    font-size: 200 px;
    font-family: "Trebuchet MS";
    font-size: 15px;
    background-color: transparent;
    color: #ffc97f; 
}

/*****************************************************************************************************************/
/*Home Page*/
#leftSide{
    float: left;
    width: 50%;
    min-height: 650px;
}

#mainText{
    font-family: 'Trebuchet MS';
    font-weight: bold;
    background-color: transparent;
    font-size: 250%;
    color: #222222; 
    margin-top: 12px;
    margin-left: 10%;
}
#mainText1{
    font-family: 'Trebuchet MS';
    font-weight: bold;
    background-color: transparent;
    font-size: 300%;
    color: #4fb9af; 
    margin-top: 12px;
    margin-left: 10%;
}

.button .btn{
  background-color: #4fb9af;
  color: #222222;
  font-family: 'Lucida Grande';
  font-size: 150%;
  height: 20%;
  border: 2px whitesmoke;
  border-radius: 5px; /*This rounds the edges*/
  margin-left: 12%;
  margin-top: 5%;
}

.button .btn:hover
{
    background-color: #222222;
    color: #4fb9af;
    height: 20%;
    border: 2px whitesmoke;
    border-radius: 5px; /*This rounds the edges*/
}
.button #btnText{
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 150%;
}
/*right side*/
#rightSide{
    float: right;
    width: 50%;
    min-height: 650px;
}
#userImage img{
    margin-top: 10%;
    margin-left: 18%;
    width: 60%; /*430px;*/
    height: 50%/*340px;*/
}

/*****************************************************************************************************************/
/*Dashboard Page*/
#dashboardPage{
    min-height: 650px;
}

#pageTitle{
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 60px;
    color: #46a39a; 
    margin-top: 12px;
    margin-left: 2%;
}
#myChart{
    
    margin-left: 5%;
    max-width: 80%;
    max-height: 65%;
}

/*****************************************************************************************************************/
/*Transactions Page*/
.container {
    float: inline-start; 
    min-height: 775px;
}

#loginText{
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 400%;
    color: #46a39a; 
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;
}
#loginText2{
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 350%;
    color: #222222; 
    margin-top: 12px;
    margin-left: 5%;
    text-align: center;
}

.d-flex .text-center{
    background-color: #a5e6e0;
    color: #222222;
}


.addText{
    color: #0c457d;
    font-size: 20px;
}




/*****************************************************************************************************************/
/*Help Page*/
#leftSideForm{
    float: left;
    width: 50%;
    min-height: 650px;
}

#rightSideForm{
    float: right;
    width: 50%;
    min-height: 650px;
}

#formTitle{
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 20px;
}

/*****************************************************************************************************************/
/*Login/Register Page*/

.buttons .btn{
    background-color: #4fb9af;
    color: #222222;
    font-family: 'Lucida Grande';
    font-size: 130%;
    height: 40px;
    border: 2px whitesmoke;
    border-radius: 5px; /*This rounds the edges*/
    margin-left: 10px;
  }

  .buttons .btn:hover {
    background-color: #222222;
    color: #4fb9af;
    font-family: 'Lucida Grande';
    font-size: 130%;
    height: 40px;
    border: 2px whitesmoke;
    border-radius: 5px; /*This rounds the edges*/
    margin-left: 10px;
  }

  .btn-register {
    display: inline-block;
    background-color: #4fb9af; /* Button background color */
    color: #222222; /* Text color */
    font-size: 14px; /* Font size */
    margin-top: 10px;
    
}

.btn-register:hover {
    background-color: #3a8f88; /* Slightly darker shade for hover */
    color: #ffffff; /* Change text color on hover */
}

.regContainer{
    background-color: #222222;
    min-width: 1500px;
    min-height: 820px;

}
